## Warning: Make sure you generate new keys before you deploy your application and add .env to your .gitignore
# Generate new keys (at least Rsa 2048?): https://travistidwell.com/jsencrypt/demo/
# Base64 encode the keys: https://www.base64encode.org/

PUBLIC_KEY=
PRIVATE_KEY=

# localhost or container service reference, defaults to localhost in config
# DATABASE_HOST=